@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600&family=Manrope:wght@800&display=swap');
#capr{
    background-image: linear-gradient(to right, rgb(28, 3, 62), rgb(150, 92, 194));
    height: 67vh;
    width: 100vw;
    display: flex;
   margin-top: 16vw;
    
    flex-direction: column;
}
#capr p{
    color: white;
    font-size: 10vh;
    margin-top:0px ;
    font-weight: bold;
    padding-left: 2vw;
    font-family: 'Manrope', sans-serif;
}
#capr p1{
    color: rgb(176, 169, 169);
    font-size: 5vh;
    padding-left: 2vw;
    

}
#capr p2{
    color: rgb(176, 169, 169);
    font-size: 5vh;
    padding-left: 2vw;
}
#bodybar{
    display: flex;
}

@media (max-width:960px){
    #image1 img{
        display: none;
    }
    #image2 img{
        display: none;
    }
}
   